<div class="container">
  <div class="row" style="justify-content:center">
    <main>
<h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
</main>
</div>
</div>
<footer class="container mt-5" style="text-align:center;">
<p>CopyRight Infratop.inc</p>
</footer>

